body, html {
    background-color: #f6f6ec;
    font-family: Gotham Pro, sans-serif;
    font-size: 8px;
    font-weight: Bold;
}

.wrapper {
    margin: 2.5rem 6rem;
}

.wrapper h1 {
    font-size: 2rem;
}

.bayan__body {
    color: #6477EB;
}

.bayan__row {
    border-top: 1px solid lightgray;
}

.bayan__row label {
    display: block;
    font-size: 1.25rem;
    line-height: 2.5rem;
    cursor: pointer;
}

.bayan__row label:active {
    color: black;
}

.bayan__row input {
    appearance: none;
    display: inline-block;
}

.bayan__row .text__wrapper {
    display: flex;
    justify-content: space-between;
}

.bayan__row img {
    display: block;
    appearance: none;
    width: 0%;
    margin: 0.5rem auto;
}

.bayan__row input:checked ~ img {
    appearance: auto;
    width: 25%;
    transition: ease-in 0.5s;
    margin-bottom: 1.5rem;
}

.bayan__row input:checked ~ .text__wrapper span {
    color: black;
}

.bayan__row:active input:checked ~ .text__wrapper span {
    color: #6477EB;
}

.bayan__row .plus {
    display: inline-block;
    font-size: 2.5rem;
    visibility: hidden;
    color: black;
}

.bayan__body:hover .plus {
    visibility: visible;
}

.bayan__row input:checked ~ .text__wrapper .plus {
    transform: rotate(45deg);
}

.bayan__row:active input:checked ~ .text__wrapper .plus {
    color: #6477EB;
}

@media (min-width: 320px) and (max-width: 819px) {
    body, html {
        font-size: 8px;
    }

    .wrapper {
        margin: 2.5rem 6rem;
    }
}

@media (min-width: 820px) and (max-width: 1919px) {
    body, html {
        font-size: 16px;
    }

    .wrapper {
        margin: 3.5rem 8rem;
    }

    .bayan__body:hover {
        color: black;
        cursor: pointer;
        transition: ease-out 0.5s;
    }

    .bayan__row:hover img, .bayan__row input:checked ~ img {
        appearance: auto;
        width: 25%;
        transition: ease-in 0.5s;
        margin-bottom: 1.5rem;
    }

    .bayan__body:hover .plus {
        visibility: visible;
    }
    
    .bayan__row:hover .plus, .bayan__row input:checked ~ .plus {
        transform: rotate(45deg);
    }
}

@media (min-width: 1920px) {
    body, html {
        font-size: 32px;
    }

    .wrapper {
        margin: 4.5rem 10rem;
    }

    .bayan__body:hover {
        color: black;
        cursor: pointer;
        transition: ease-out 0.5s;
    }

    .bayan__row:hover img, .bayan__row input:checked ~ img {
        appearance: auto;
        width: 25%;
        transition: ease-in 0.5s;
        margin-bottom: 1.5rem;
    }

    .bayan__body:hover .plus {
        visibility: visible;
    }
    
    .bayan__row:hover .plus, .bayan__row input:checked ~ .plus {
        transform: rotate(45deg);
    }
}